@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Milling';
  font-style: normal;
  font-weight: 400;
  src: url('https://d2n8i6crd2t3p1.cloudfront.net/font/milling/205TF-Milling-Duplex1mm.woff2') format('woff2');
}

@font-face {
  font-family: 'Milling';
  font-style: normal;
  font-weight: 700;
  src: url('https://d2n8i6crd2t3p1.cloudfront.net/font/milling/205TF-Milling-Triplex1mm.woff2') format('woff2');
}

:root {
  --background: #f4f3f3;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Milling', Arial, Helvetica, sans-serif;
}
